*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
    height: 100%;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    min-width: 100%;
    min-height: 6vh;
    font-family: 'Poppins', sans-serif;
    background-color: #202020;
    border-bottom: 3px solid #4c97aa;
    backdrop-filter: blur(10px);
    padding:0 50px;
    position:sticky;
    top: 0;
    z-index: 1;
    opacity: .98;
}

.logo{
    color: #ffffff;
    font-size: 32px;
    padding:0;
}

.nav-links{
    display: flex;
    float: right;
    justify-content: space-around;
    color:ghostwhite;
    text-transform: uppercase;
    width: 400px;
    position: sticky;
}

.nav-links li{
    list-style: none;
    display: inline-block;
}


.nav-links a{
    color: #f0f0f0;
    text-decoration: none;
    letter-spacing: 1px;
    
    font-weight: bold;
    font-size: 14px;
    display: inline-block;
    transition: .2s;
}

.nav-links a:hover{
    color: rgb(255, 255, 255);
    transform: scale(1.2,1.2);
}

.sounddesignshowreel{
 padding-bottom: 0px;
}


header{
    top: 0;
    margin: auto;
    position: sticky;

}

body {
    z-index: 1;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    margin: auto;
    min-height: 100%;
    background: #161616;
}

main{
    max-width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    margin: auto;
    
}

footer{
    font-family: 'Poppins', sans-serif;
    text-align: center;
    font-size: 30px;
    color:rgb(238, 238, 238);
    align-items: center;
    bottom: 0;
    width: inherit;
    height: 100px;
}


.intro {
padding-top: 25px;
padding-bottom: 25px;
}


h1{
    font-family: 'Poppins', sans-serif;
    letter-spacing: 2px;
    text-align: center;
    font-size: 36px;
    color:rgb(209, 209, 209);
    margin-top: 20px;
    margin-bottom: 30px;
}

h2{
    font-family: 'Poppins', sans-serif;
    letter-spacing: 2px;
    text-align: center;
    font-size: 36px;
    color:rgb(209, 209, 209);
    margin-top: 25px;
    margin-bottom: 20px;
}

h3{
    font-family: 'Poppins', sans-serif;
    text-align: center;
    font-size: 16px;
    color:rgb(209, 209, 209);
    margin-top: 10px;
    margin-bottom: 10px;
    letter-spacing: 1px;
    
}

h4{
    font-family: 'Poppins', sans-serif;
    text-align: center;
    font-size: 20px;
    color:rgb(209, 209, 209);
    margin-top: 10px;
    margin-bottom: 10px;
    letter-spacing: 1px;
    border-bottom: 3px solid #4c97aa;
    background: linear-gradient(to left, #521aad, #42cfbc 100%);
    background-position: 0 100%;
    background-size: 100% 2px;
    background-repeat: repeat-x;
}

h5{
    font-family: 'Poppins', sans-serif;
    text-align: center;
    font-size: 20px;
    color:rgb(209, 209, 209);
    margin-top: 10px;
    margin-bottom: 10px;
    letter-spacing: 1px;
    background-position: 0 100%;
    background-size: 100% 2px;
    background-repeat: repeat-x;
}

p{
    font-family: 'Poppins', sans-serif;
    text-align: center;
    font-size: 16px;
    color:rgb(238, 238, 238);
    margin-top: 15px;
    margin-bottom: 15px;
}

ul{
    font-family: 'Poppins', sans-serif;
    text-align: center;
    font-size: 16px;
    color:rgb(165, 165, 165);
    list-style-type: none;
    list-style-position: inside;
    line-height: normal;
}

.about{
    font-family: 'Poppins', sans-serif;
    text-align: left;
    font-size: 18px;
    display: flex;
    color:rgb(238, 238, 238);
    padding-top: 50px;
    padding-bottom: 50px;
}

.About-me__body{
    font-family: 'Poppins', sans-serif;
    text-align: center;
    font-size: 40px;
    font-size: 16px;
    margin: auto;
    justify-content: center;
    text-align: left;
    max-width: 90%;
    padding-bottom: 50px;
}

.about img{
margin: auto;
display: flex;
justify-content: right;
}

hr{
    margin-top: 100px;
    top: 10px;
    left: 25%;
    right: 25%;
    display: block;
    border: rgb(107, 107, 107) solid 0.5px;
    border-radius: 13px;
}

.video {
    display: flex;
    flex-direction: row;
    flex: 1;
    align-items: center;
    margin-bottom: 0px;
    justify-content: space-around;
    max-width: 80%;
    margin: auto;
    flex-wrap: wrap;
    gap: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.social-list{
    font-family: 'Poppins', sans-serif;
    text-align: center;
    font-size: 40px;
    color:rgb(238, 238, 238);
    list-style-type: none;
    list-style-position: inside;
    background-size: 400%;
    min-height: 15px;
}

a {
    color: #f0f0f0;
    text-decoration: none;
}


a:hover {
    color:#575757; 
    text-decoration:none; 
    cursor:pointer;  
}

#backgroundvideo{
    content: '';
    position: absolute;
    background-size: cover;
    overflow: hidden;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    z-index: -1;
    opacity: 0.5;
    background-attachment: fixed;
}

#backgroundvideo video{
    position: fixed;
    z-index: -1;
    object-fit: cover;
}


.hrtag{
    background-color: #7a39b6;
}